body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: center;
    gap: 36px;
    padding: 24px;
}

.nav-btn {
    padding: 12px 32px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

#content {
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    padding: 24px;
}

#hero-img-box {
    display: flex;
    justify-content: center;
    
}

#hero-img {
    border-radius: 16px;
    width: 500px;
}

#hero-text-box {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 24px;

}